* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
  background: linear-gradient(120deg, #cfd9df, #e2ebf0);
}

.container {
  display: flex;
  gap: 40px;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  padding:40px;
}

.card {
  width: 220px;
  height: 340px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  text-align: center;
  overflow:hidden;
  position: relative;
  transition: 0.3s ease;
}

.card:hover {
 transform: translateY(-50px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.316);
}

.curve {
  width: 100%;
  height: 140px;
  position: relative;
  color: #fff;
}

.curve h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 500;
}

.card h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  color: #555;
  margin: 10px 20px 20px;
}

button {
  background: #000;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.85;
}

/* Color themes for each card */
.red .curve {
  background: linear-gradient(135deg, #ff2d2d, #d10000);
  border-bottom-left-radius: 100px 40px;
}

.purple .curve {
  background: linear-gradient(135deg, #a020f0, #8000ff);
  border-bottom-left-radius: 100px 40px;
}

.blue .curve {
  background: linear-gradient(135deg, #0044ff, #007bff);
  border-bottom-left-radius: 100px 40px;
}

.green .curve {
  background: linear-gradient(135deg, #00b894, #019267);
  border-bottom-left-radius: 100px 40px;
}

.red button {
  background: #ff2d2d;
}

.purple button {
  background: #a020f0;
}

.blue button {
  background: #0044ff;
}

.green button {
  background: #00b894;

}

